<div class="row colorBack">
    <div class="col-sm-4 statusProgress">
        <h2>Tervezett programok</h2>
        <fieldset *ngFor="let program of parent.programs; let i = index">
            <div class="card my-1" *ngIf="program.status === 'plan'">
                <div class="card-body form-control" [class.bg-success]="parent.selectedCard=== i" (click)="setSelectedCard(i)">
                    <div class="row">
                        <div class="col-2 align-middle">
                            <div class="btn-group-vertical" [hidden]="parent.selectedCard!== i ">
                                <button class="btn btn-success btn-sm" [disabled]="parent.model.needToSave" (click)="sendCardBack(i)">
                                    <span class="fa fa-trash fa-2x"></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-8">
                            <h5 class="card-title"> {{ program.title }} </h5>
                            <p [hidden]="parent.selectedCard!== i "> {{ program.date | date: 'yyyyMM.dd' }} - {{ program.time }}</p>
                            <hr [class.bg-success]="parent.selectedCard!= i" [class.bg-white]="parent.selectedCard=== i">
                        </div>
                        <div class="col-2 align-middle">
                            <div class="btn-group-vertical" [hidden]="parent.selectedCard!== i ">
                                <button class="btn btn-success btn-sm" [disabled]="parent.model.needToSave" (click)="sendCardForward(i)">
                                    <span class="fa fa-chevron-circle-right fa-2x"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 align-middle">
                        </div>
                        <div class="col-8">
                            <p class="card-text"> {{ program.student.name }}</p>
                        </div>
                        <div class="col-2 align-middle">
                            <div class="btn-group-vertical" [hidden]="parent.selectedCard!== i ">
                                <button class="btn btn-success btn-sm" [hidden]="!parent.model.needToSave" (click)="onSaveButton()">
                                    <span class="fa fa-check-circle fa-2x"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>

    <div class="col-sm-4 statusProgress">
        <h2>Folyamatban lévő programok {{parent.selectedCard}}</h2>
        <fieldset *ngFor="let program of parent.programs; let i = index">
            <div class="card my-1" *ngIf="program.status === 'progress'">
                <div class="card-body form-control" [class.bg-danger]="parent.selectedCard=== i" (click)="setSelectedCard(i)">
                    <div class="row">
                        <div class="col-2 align-middle">
                            <div class="btn-group-vertical" [hidden]="parent.selectedCard!== i ">
                                <button class="btn btn-danger btn-sm" [disabled]="parent.model.needToSave" (click)="sendCardBack(i)">
                                    <span class="fa fa-chevron-circle-left fa-2x"></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-8">
                            <h5 class="card-title"> {{ program.title }} </h5>
                            <p [hidden]="parent.selectedCard!== i "> {{ program.date | date: 'yyyyMM.dd' }} - {{ program.time }}</p>
                            <hr [class.bg-danger]="parent.selectedCard!= i" [class.bg-white]="parent.selectedCard=== i">
                        </div>
                        <div class="col-2 align-middle">
                            <div class="btn-group-vertical" [hidden]="parent.selectedCard!== i ">
                                <button class="btn btn-danger btn-sm" [disabled]="parent.model.needToSave" (click)="sendCardForward(i)">
                                    <span class="fa fa-chevron-circle-right fa-2x"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 align-middle">
                        </div>
                        <div class="col-8">
                            <p class="card-text"> {{ program.student.name }}</p>
                        </div>
                        <div class="col-2 align-middle">
                            <div class="btn-group-vertical" [hidden]="parent.selectedCard!== i ">
                                <button class="btn btn-danger btn-sm" [hidden]="!parent.model.needToSave" (click)="onSaveButton()">
                                    <span class="fa fa-check-circle fa-2x"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="col-sm-4 statusProgress">
        <h2>Lezárásra váró programok</h2>
        <fieldset *ngFor="let program of parent.programs; let i = index">
            <div class="card my-1" *ngIf="program.status === 'closed'">
                <div class="card-body form-control" [class.cardClosed]="parent.selectedCard=== i" (click)="setSelectedCard(i)">
                    <div class="row">
                        <div class="col-2 align-middle">
                            <div class="btn-group-vertical" [hidden]="parent.selectedCard!== i ">
                                <button class="btn buttonClosed btn-sm" [disabled]="parent.model.needToSave" (click)="sendCardBack(i)">
                                    <span class="fa fa-chevron-circle-left fa-2x"></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-8">
                            <h5 class="card-title"> {{ program.title }} </h5>
                            <p [hidden]="parent.selectedCard!== i "> {{ program.date | date: 'yyyyMM.dd' }} - {{ program.time }}</p>
                            <hr [class.cardClosed]="parent.selectedCard!= i" [class.bg-white]="parent.selectedCard=== i">
                        </div>
                        <div class="col-2 align-middle">
                            <div class="btn-group-vertical" [hidden]="parent.selectedCard!== i ">
                                <button class="btn buttonClosed btn-sm" [disabled]="parent.model.needToSave" (click)="sendCardForward(i)">
                                    <span class="fa fa-archive fa-2x"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 align-middle">
                        </div>
                        <div class="col-8">
                            <p class="card-text"> {{ program.student.name }}</p>
                        </div>
                        <div class="col-2 align-middle">
                            <div class="btn-group-vertical" [hidden]="parent.selectedCard!== i ">
                                <button class="btn buttonClosed btn-sm" [hidden]="!parent.model.needToSave" (click)="onSaveButton()">
                                    <span class="fa fa-check-circle fa-2x"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>