<form>
    <div class="row py-2 colorBack">
        <div class="col-4">
            <label for="programTitle">Program neve:</label>
            <input class="form-control" type="text" name="programTitle" id="programTitle" (ngModelChange)="modelChanged()" [(ngModel)]="model.title"
                required>
        </div>
        <div class="col-4">
            <label for="programStudent">Főszervező:</label>
            <select class="form-control" name="programStudent" id="programStudent" (ngModelChange)="modelChanged()" [(ngModel)]="model.student.id"
                required>
                <ng-container *ngFor="let student of students; let i = index">
                    <option *ngIf="student.status == 'kb'" [ngValue]="student.id"> {{ student.name }} </option>
                </ng-container>
        </div>
        <div class="col-2">
            <label for="programDate">Dátum:</label>
            <div class="input-group">
                <input id="programDate" type="text" class="form-control" name="programDate" ngbDatepicker #d="ngbDatepicker" [(ngModel)]="model.date"
                    (ngModelChange)="onDatePickerChanged()" required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="d.toggle()">
                        <i class="fa fa-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-1">
            <label for="programTime">Időpont:</label>
            <input class="form-control" type="text" name="programTime" id="programTime" (ngModelChange)="modelChanged()" [(ngModel)]="model.time"
                required>
        </div>
        <div class="col-1 mt-4" *ngIf="model.id">
            <button class="btn btn-info" (click)="clean()">
                <span class="fa fa-undo fa-2x"></span>
                Clear
            </button>
        </div>
        <div class="col-1 mt-4" *ngIf="!model.id">
            <button id="onAddButton" class="btn btn-success" (click)="onClick($event)">
                <span class="fa fa-plus-circle fa-2x"></span>
                Add
            </button>
        </div>
    </div>
    <div class="row colorBack">
        <div class="col-4">
            <div class="row mb-2">
                <div class="col-12">
                    <label for="programTitle">Terv:</label>
                    <textarea class="form-control" name="plan" id="plan" rows="3" [(ngModel)]="model.plan" [required]="!planIsDisabled()" [disabled]="planIsDisabled()"
                        (ngModelChange)="modelChanged()"></textarea>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-8">
                    <label for="planCost">Tervezett költség összesen:</label>
                </div>
                <div class="col-4">
                    <input class="form-control" type="text" name="planCost" id="planCost" [(ngModel)]="model.planCost" [required]="!planIsDisabled()"
                        [disabled]="planIsDisabled()" (ngModelChange)="modelChanged()">
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row mb-2">
                <div class="col-12">
                    <label for="decision">Döntés:</label>
                    <textarea class="form-control" name="decision" id="decision" rows="3" [(ngModel)]="model.decision" [required]="!decisionIsDisabled()"
                        [disabled]="decisionIsDisabled()" (ngModelChange)="modelChanged()"></textarea>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-8">
                    <label for="decisionCost">Támogatott költség összesen:</label>
                </div>
                <div class="col-4">
                    <input class="form-control" type="text" name="decisionCost" id="decisionCost" [(ngModel)]="model.decisionCost" [required]="!decisionIsDisabled()"
                        [disabled]="decisionIsDisabled()" (ngModelChange)="modelChanged()">
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row mb-2">
                <div class="col-12">
                    <label for="report">Beszámoló</label>
                    <textarea class="form-control" name="report" id="report" rows="3" [(ngModel)]="model.report" [required]="!reportIsDisabled()"
                        [disabled]="reportIsDisabled()" (ngModelChange)="modelChanged()"></textarea>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-8">
                    <label for="reportCost">Felhasznált költség összesen</label>
                </div>
                <div class="col-4">
                    <input class="form-control" type="text" name="reportCost" id="reportCost" [(ngModel)]="model.reportCost" [required]="!reportIsDisabled()"
                        [disabled]="reportIsDisabled()" (ngModelChange)="modelChanged()">
                </div>
            </div>
        </div>
    </div>
    <div class="row colorBack">

    </div>

</form>
<hr>
<jhi-note-program-board [parent]="instance"></jhi-note-program-board>
<jhi-alert></jhi-alert>