<div class="row">
    <div class="col-12">
        <jhi-note-program-board [parent]="instance"></jhi-note-program-board>
    </div>
</div>

<hr>
<form>
    <div class="row">
        <div class="col-2 ">

            <div class="row mb-2">
                <div class="col-12">
                    <h5 for="programTitle">Segítők:</h5>
                </div>
            </div>
            <div class="row" *ngFor="let helper of helpers ;trackBy: trackId">
                <div class="col-9">
                    <p *ngIf="helper.program.id === model.id">{{ helper.student?.name }} </p>
                </div>
                <div class="btn-group" role="group">
                    <button *ngIf="helper.program.id === model.id" type="submit" [routerLink]="['/', { outlets: { popup: 'helper/'+ helper.id + '/edit'} }]"
                        replaceUrl="true" class="btn btn-primary btn-sm">
                        <span class="fa fa-pencil"></span>
                        <!-- <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span> -->
                    </button>
                    <button *ngIf="helper.program.id === model.id" type="submit" [routerLink]="['/', { outlets: { popup: 'helper/'+ helper.id + '/delete'} }]"
                        replaceUrl="true" class="btn btn-danger btn-sm">
                        <span class="fa fa-remove"></span>
                        <!-- <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span> -->
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-success jh-create-entity create-helper" [routerLink]="['/', { outlets: { popup: ['helper-new'] } }]"
                        [hidden]="selectedCard === -1">
                        <span class="fa fa-plus"></span>
                        <!-- <span jhiTranslate="hermannotesApp.helper.home.createLabel">
                            Create new Helper
                        </span> -->
                    </button>
                </div>
            </div>
        </div>

        <div class="col-10 colorBack">
            <div class="row">
                <div class="col-4">
                    <div class="row mb-2">
                        <div class="col-12">
                            <label for="programTitle">Terv:</label>
                            <textarea class="form-control" name="plan" id="plan" rows="3" [(ngModel)]="model.plan" [required]="!planIsDisabled()" [disabled]="planIsDisabled()"
                                (ngModelChange)="modelChanged()"></textarea>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-8">
                            <label for="planCost">Tervezett költség összesen:</label>
                        </div>
                        <div class="col-4">
                            <input class="form-control" type="text" name="planCost" id="planCost" [(ngModel)]="model.planCost" [required]="!planIsDisabled()"
                                [disabled]="planIsDisabled()" (ngModelChange)="modelChanged()">
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row mb-2">
                        <div class="col-12">
                            <label for="decision">Döntés:</label>
                            <textarea class="form-control" name="decision" id="decision" rows="3" [(ngModel)]="model.decision" [required]="!decisionIsDisabled()"
                                [disabled]="decisionIsDisabled()" (ngModelChange)="modelChanged()"></textarea>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-8">
                            <label for="decisionCost">Támogatott költség összesen:</label>
                        </div>
                        <div class="col-4">
                            <input class="form-control" type="text" name="decisionCost" id="decisionCost" [(ngModel)]="model.decisionCost" [required]="!decisionIsDisabled()"
                                [disabled]="decisionIsDisabled()" (ngModelChange)="modelChanged()">
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row mb-2">
                        <div class="col-12">
                            <label for="report">Beszámoló</label>
                            <textarea class="form-control" name="report" id="report" rows="3" [(ngModel)]="model.report" [required]="!reportIsDisabled()"
                                [disabled]="reportIsDisabled()" (ngModelChange)="modelChanged()"></textarea>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-8">
                            <label for="reportCost">Felhasznált költség összesen</label>
                        </div>
                        <div class="col-4">
                            <input class="form-control" type="text" name="reportCost" id="reportCost" [(ngModel)]="model.reportCost" [required]="!reportIsDisabled()"
                                [disabled]="reportIsDisabled()" (ngModelChange)="modelChanged()">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row colorBack">

    </div>

</form>

<jhi-alert></jhi-alert>