table {
   border: 1px solid black;
   margin: 57.5px 30px;
}

th, td {
  border: 0px solid black;
  margin: 57.5px 30px;
}

.card {
  border: 1px solid black;
}

.left {
  float: left;
  margin: 0px 40px 10px 0px;
}
.right {
    float: left;
    margin: 0px 40px 10px 0px;
  }

.name {
   font-size: 30px;
   font-weight:bold;
   font-family: Arial;
}

.room {
  font-size: 70px;
  font-weight:bold;
  font-family: Arial;
}

@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}

table:hover {
  background-color: lightgrey;
}

.cardBasicImage {
  display: inline-block;
  width: 150px;
  height: 150px;
  background: url("../../../content/images/000.png") no-repeat center top;
  background-size: contain;
}
