
<div *ngIf="card">
    <h2><span jhiTranslate="hermannotesApp.card.detail.title">Card</span> {{card.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="hermannotesApp.card.lost">Lost</span></dt>
        <dd>
            <span>{{card.lost}}</span>
        </dd>
        <dt><span jhiTranslate="hermannotesApp.card.student">Student</span></dt>
        <dd>
            <div *ngIf="card.student">
                <a [routerLink]="['/student', card.student?.id]">{{card.student?.name}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'card/'+ card.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
