.statusPlan {
    background-color: #81c784;
}

.statusPlanDark {
    background-color: #519657;
}

.statusProgress {
    background-color: #ff8a65;
}

.statusProgressDark {
    background-color: #c75b39;
}

.statusClosed {
    background-color: #b0bec5;
}

.statusClosedDark {
    background-color: #808e95;
}

.statusBack{
    background-color: #cfcfcf;
}

