<ngb-tabset [destroyOnHide]="false">
    <ngb-tab>
        <ng-template ngbTabTitle>
            <span class="tabTitle"> Jegyzőkönyvező </span>
        </ng-template>
        <ng-template ngbTabContent>
            <div class="my-4">
                <jhi-note-notary></jhi-note-notary>
            </div>
        </ng-template>
    </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle>
            <span class="tabTitle"> Jelenléti </span>
        </ng-template>
        <ng-template ngbTabContent>
            <div class="my-4">
                <jhi-note-members></jhi-note-members>
            </div>
        </ng-template>
    </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle>
            <span class="tabTitle"> Programok </span>
        </ng-template>
        <ng-template ngbTabContent>
            <div class="my-4">
                <jhi-note-program></jhi-note-program>
            </div>
        </ng-template>
    </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle>
            <span class="tabTitle"> Kérvények </span>
        </ng-template>
        <ng-template ngbTabContent>
            <div class="my-4">
                Kérvények
            </div>
        </ng-template>
    </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle>
            <span class="tabTitle"> Egyéb </span>
        </ng-template>
        <ng-template ngbTabContent>
            <div class="my-4">
                Egyéb
            </div>
        </ng-template>
    </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle>
            <span class="tabTitle"> Következő ülés </span>
        </ng-template>
        <ng-template ngbTabContent>
        </ng-template>
    </ngb-tab>
</ngb-tabset>