
<div *ngIf="request">
    <h2><span jhiTranslate="hermannotesApp.request.detail.title">Request</span> {{request.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="hermannotesApp.request.title">Title</span></dt>
        <dd>
            <span>{{request.title}}</span>
        </dd>
        <dt><span jhiTranslate="hermannotesApp.request.date">Date</span></dt>
        <dd>
            <span>{{request.date | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="hermannotesApp.request.time">Time</span></dt>
        <dd>
            <span>{{request.time}}</span>
        </dd>
        <dt><span jhiTranslate="hermannotesApp.request.content">Content</span></dt>
        <dd>
            <span>{{request.content}}</span>
        </dd>
        <dt><span jhiTranslate="hermannotesApp.request.contentcost">Contentcost</span></dt>
        <dd>
            <span>{{request.contentcost}}</span>
        </dd>
        <dt><span jhiTranslate="hermannotesApp.request.decision">Decision</span></dt>
        <dd>
            <span>{{request.decision}}</span>
        </dd>
        <dt><span jhiTranslate="hermannotesApp.request.decisioncost">Decisioncost</span></dt>
        <dd>
            <span>{{request.decisioncost}}</span>
        </dd>
        <dt><span jhiTranslate="hermannotesApp.request.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'hermannotesApp.RequestStatus.' + request.status}}">{{request.status}}</span>
        </dd>
        <dt><span jhiTranslate="hermannotesApp.request.student">Student</span></dt>
        <dd>
            <div *ngIf="request.student">
                <a [routerLink]="['/student', request.student?.id]">{{request.student?.name}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="hermannotesApp.request.messenger">Messenger</span></dt>
        <dd>
            <div *ngIf="request.messenger">
                <a [routerLink]="['/student', request.messenger?.id]">{{request.messenger?.name}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'request/'+ request.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
