<div class="row">
    <div class="col-12">
        <jhi-note-request-board [parent]="instance"></jhi-note-request-board>
    </div>
</div>

<hr>
<form>
    <div class="row colorBack">
        <div class="col-4">
            <div class="row mb-2">
                <div class="col-12">
                    <label for="programTitle">Kérvény:</label>
                    <textarea class="form-control" name="plan" id="plan" rows="3" [(ngModel)]="model.content" [required]="!planIsDisabled()"
                        [disabled]="planIsDisabled()" (ngModelChange)="modelChanged()"></textarea>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-8">
                    <label for="planCost">Kérvényezett összeg:</label>
                </div>
                <div class="col-4">
                    <input class="form-control" type="text" name="planCost" id="planCost" [(ngModel)]="model.contentcost" [required]="!planIsDisabled()"
                        [disabled]="planIsDisabled()" (ngModelChange)="modelChanged()">
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row mb-2">
                <div class="col-12">
                    <label for="decision">Döntés:</label>
                    <textarea class="form-control" name="decision" id="decision" rows="3" [(ngModel)]="model.decision" [required]="!decisionIsDisabled()"
                        [disabled]="decisionIsDisabled()" (ngModelChange)="modelChanged()"></textarea>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-8">
                    <label for="decisionCost">Támogatott összeg:</label>
                </div>
                <div class="col-4">
                    <input class="form-control" type="text" name="decisionCost" id="decisionCost" [(ngModel)]="model.decisioncost" [required]="!decisionIsDisabled()"
                        [disabled]="decisionIsDisabled()" (ngModelChange)="modelChanged()">
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row mb-2">
                <div class="col-12">
                    <label for="field_student">Kiértesítésért felel</label>
                    <select class="form-control" id="field_student" name="student" [(ngModel)]="model.messenger" [disabled]="reportIsDisabled()"
                        [required]="!reportIsDisabled()">
                        <option [ngValue]="null"></option>
                        <ng-container *ngFor="let studentOption of students; trackBy: trackStudentById">
                            <option *ngIf="studentOption.status === 'kb'" [ngValue]="studentOption.id === model.messenger?.id ? model.messenger : studentOption">{{studentOption?.name}}</option>
                        </ng-container>
                    </select>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-8">
                    <label for="decisionCost">Kiértesítve:</label>
                </div>
                <div class="col-4">
                    <input class="form-control" type="checkbox" name="notified" id="notified" [(ngModel)]="model.notified" [required]="!reportIsDisabled()"
                        [disabled]="reportIsDisabled()" (ngModelChange)="modelChanged()">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-8">
                    <label for="decisionCost">Személyi kérdés:</label>
                </div>
                <div class="col-4">
                    <input class="form-control" type="checkbox" name="personal" id="personal" [(ngModel)]="model.personal" [required]="!reportIsDisabled()"
                        [disabled]="reportIsDisabled()" (ngModelChange)="modelChanged()">
                </div>
            </div>
        </div>
    </div>
</form>

<jhi-alert></jhi-alert>