<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myStudentLabel" jhiTranslate="hermannotesApp.student.home.createOrEditLabel">Create or edit a Student</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!student.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="student.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hermannotesApp.student.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="student.name"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hermannotesApp.student.studies" for="field_studies">Studies</label>
            <input type="text" class="form-control" name="studies" id="field_studies"
                [(ngModel)]="student.studies"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hermannotesApp.student.room" for="field_room">Room</label>
            <input type="number" class="form-control" name="room" id="field_room"
                [(ngModel)]="student.room"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hermannotesApp.student.point" for="field_point">Point</label>
            <input type="number" class="form-control" name="point" id="field_point"
                [(ngModel)]="student.point"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hermannotesApp.student.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="student.status" id="field_status" >
                <option value="student" jhiTranslate="hermannotesApp.StudentStatus.student">student</option>
                <option value="kb" jhiTranslate="hermannotesApp.StudentStatus.kb">kb</option>
                <option value="senior" jhiTranslate="hermannotesApp.StudentStatus.senior">senior</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
